jobs:
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v21
    - name: Check flake
      run: nix -Lv flake check
    timeout-minutes: 60
'on':
  pull_request: {}
  push:
    branches:
    - master
  workflow_dispatch: {}
