jobs:
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@v19
    - name: Check flake
      run: nix -Lv flake check
    timeout-minutes: 60
'on':
  push: {}
  workflow_dispatch: {}
